.btn{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px;
}
.btns{
  display: flex;
  justify-content: center;
  margin: 20px;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}