*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(120, 120, 120);
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.title-bar{
  margin: 10px 15px;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  background-color: rgb(40, 40, 40);
  border-bottom-right-radius: 50px ;
  border-bottom-left-radius: 50px;
  height: 40px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.container{
  width: 1000px;
  background-color: rgb(40, 40, 40);
  margin: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.btn:hover{
  background-color: rgb(201, 201, 201);
}
.btn{
  background-color: aliceblue;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px;
  font-size: 50px;
}
.btns{
  display: flex;
  justify-content: center;
  margin: 20px;
}
.res{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reset{
  width: 150px;
  height: 50px;
  font-weight: 700;
  background-color: white;
  border-radius: 5px;
  font-size: 26px;
  color: rgb(44, 44, 44);
}